//***** COLORS *****//

$main: darkblue;
$secondary: orange;
$third: pink;
$red: #ed1e24;
$black: rgba(43,43,43,1);
$white: #fff;
$header: rgba(43,43,43,.7);
$bg: #efecec;
$state: #1f333c;
$truBlack: #000000;


